<footer class="footer-section">
  <div class="container relative">
    <div class="sofa-img">
      <img src="assets/images/github.png" alt="Image" class="img-fluid" />
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center">
            <span class="me-1"
              ><img
                src="assets/images/envelope-outline.svg"
                alt="Image"
                class="img-fluid" /></span
            ><span>Assine o Newsletter</span>
          </h3>

          <form action="#" class="row g-3">
            <div class="col-auto">
              <input
                type="text"
                class="form-control"
                placeholder="Digite seu nome" />
            </div>
            <div class="col-auto">
              <input
                type="email"
                class="form-control"
                placeholder="Digite seu e-mail" />
            </div>
            <div class="col-auto">
              <button class="btn btn-primary">
                <span class="fa fa-paper-plane"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap">
          <a href="#" class="footer-logo">Pystore</a>
        </div>
        <p class="mb-4">
          Bem-vindo à Pystore, sua fonte premium para produtos personalizados e de alta qualidade destinados à comunidade Python. Nossos produtos são cuidadosamente projetados para refletir sua paixão pela programação.
        </p>

        <ul class="list-unstyled custom-social">
          <li>
            <a href="#"><span class="fa fa-brands fa-facebook-f"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-twitter"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-instagram"></span></a>
          </li>
          <li>
            <a href="#"><span class="fa fa-brands fa-linkedin"></span></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="row links-wrap">
          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Produtos</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contate-nos</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Suporte</a></li>
              <li><a href="#">Base de conhecimento</a></li>
              <li><a href="#">Chat ao vivo</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Vagas</a></li>
              <li><a href="#">Nossa equipe</a></li>
              <li><a href="#">Liderança</a></li>
              <li><a href="#">Política de Privacidade</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <ul class="list-unstyled">
              <li><a href="#">Camiseta Pythonic</a></li>
              <li><a href="#">Caneca de Código</a></li>
              <li><a href="#">Pôster de Programação</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="border-top copyright">
      <div class="row pt-4">
        <div class="col-lg-6">
          <p class="mb-2 text-center text-lg-start">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            . Todos os direitos reservados. &mdash; Design com amor por
            <a href="#">Pystore.co</a> Distribuído por
            <a hreff="#">Pystore</a>
            <!-- License information: https://untree.co/license/ -->
          </p>
        </div>

        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-unstyled d-inline-flex ms-auto">
            <li class="me-4"><a href="#">Termos &amp; Condições</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
