<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
	
	<div class="container">
		<a class="navbar-brand" href="/">Pystore</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item ">
					<a class="nav-link" href="/">Home</a>
				</li>

				<% if (!isAdmin) { %>
				<li class="nav-item ">
					<a class="nav-link" href="/shop">Loja</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="/services">Serviços</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="/faq">FAQ</a>
				</li>
				<% } %>

				<% if (isAdmin) { %>
				<li class="nav-item">
					<a class="nav-link" href="/admin">Produtos</a>
				</li>

				<li class="nav-item ">
					<a class="nav-link" href="/customers">Clientes</a>
				</li>
				<% } %>

				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/register">Cadastre-se</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/logout">logout</a>
				</li>
			</ul>
		</div>
		
		<% if (!isAdmin) { %>
		<button
			type="button"
			class="btn btn-primary nav-link my-2 my-sm-0"
			data-bs-toggle="modal"
			data-bs-target="#cartModal">
			<img src="assets/images/cart.svg" alt="Image" />
			Carrinho: <%= cart.length %>
		</button>
		<% } %>
	</div>
		
</nav>