<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>Services</h1>
              <p class="mb-4">
                Aqui na nossa loja virtual, estamos empenhados em oferecer uma
                ampla gama de serviços excepcionais para tornar a sua
                experiência de compra online mais conveniente e satisfatória.
                Desde entrega rápida até suporte ao cliente de classe mundial,
                estamos aqui para atender às suas necessidades e tornar a sua
                jornada de compras o mais tranquila possível. Explore nossos
                serviços e aproveite ao máximo sua visita à nossa loja online.
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img src="assets/images/services.png" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="why-choose-section">
      <div class="container">
        <div class="row my-5">
          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/truck.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Entrega</h3>
              <p>
                O e-commerce pode oferecer diferentes opções de entrega, como
                frete grátis, entrega expressa e entrega padrão.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/bag.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Pagamento</h3>
              <p>
                O e-commerce pode oferecer diferentes opções de pagamento, como
                cartão de crédito, débito, boleto bancário e PayPal.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/support.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Garantia</h3>
              <p>
                O e-commerce pode oferecer uma garantia de satisfação ou
                devolução do dinheiro para os clientes.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/return.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Suporte ao cliente</h3>
              <p>
                O e-commerce pode oferecer suporte ao cliente por telefone,
                e-mail ou chat ao vivo.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/program.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Programa de fidelidade</h3>
              <p>
                O e-commerce pode oferecer um programa de fidelidade para
                recompensar os clientes por suas compras.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-4">
            <div class="feature">
              <div class="icon">
                <img
                  src="assets/images/truck.svg"
                  alt="Image"
                  class="imf-fluid" />
              </div>
              <h3>Devoluções e trocas</h3>
              <p>
                O e-commerce pode oferecer uma política de devoluções e trocas
                flexível.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
